/node_modules
/public/hot
/public/storage
/public/data/uploads
/storage/*.key
/vendor
/public/image
.env
.env.backup

docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
